

header{
   
    height:300vh;
   
 background-size: contain;
	

}
.ml{
	height: 300px;
    background-size: cover;
	
}
body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#110a42;
	
}

.container{
	color: antiquewhite;
	background-image: url(/static/bitcoin.gif);
    height: 300px;
    background-size: cover;
	
	
}


#brandname{
	float:left;
	font-size:30px;
	color: #fff;
	margin: 10px;
}

header h2{
	text-align:center;
	color:#fff;

}



.btn-info {background-color: #2196F3;
	height:40px;
	width:100px;
padding-top: 10px;
transition-duration: 0.4s;} /* Blue */
.btn-info:hover {background: #0b7dda;}

  
 

.resultss{
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px; 
    width: 200px;
    height: 150px;
}